@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-rgb: 05 05 05;
  --green: 9 252 8;
}

body{
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vmin;
}

#screen-overlay {    
  background: linear-gradient(
      #199515,
      #199515 3px,
      #146c11 3px,
      #146c11 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: lines-overlay 22s infinite linear;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 20%;
  z-index: 2;
}

#radial-gradient {
  background: radial-gradient(
    rgb(var(--green) / 1%), 
    rgb(var(--dark-rgb) / 80%)
  );
  z-index: 4;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}


#screen {
  z-index: 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
}

@keyframes lines-overlay {
  from {
    background-position: 0% 0%;
  }
  
  to {
    background-position: 0% 100%;
  }
}
  

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  rect {
    width: 100px;
    aspect-ratio: 1/1;
    background-color: blue;
    grid-column: 100 / 2;
  }